@import "../../styles/mixins";
@import "../../styles/design-mixins";
@import "../../styles/button";


.container {
    @include lcd();
    border: none;
    position: absolute;
    padding: .5rem;

    .toggle {
        display: block;
        margin: .5rem;

        &.open {
            background-color: aqua;
        }
    }

}

.menuBar {
    display: inline-flex;
    flex-direction: column;
    @include noSelectHighlight();

    
    .button {
        @include button();
        background-color: yellow;
    }
}
