@import "../../styles/mixins";
@import "../../styles/design-mixins";
@import "../../styles/button";

.component {
    @include fullHeight;
    @include yellowAndBlackStripes;
    padding: .5rem;
}

.menuBar {
    position: absolute;
    display: inline-flex;
    flex-direction: column;

    button {
        @include button();
        background-color: yellow;
    }
}