@import "../../styles/mixins";
@import "../../styles/design-mixins";

.numberPanel {
    @include metal;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div {
        margin: 0 .5rem;
        display: flex;
        align-items: center;

        span {
            @include lcd();
            min-width: 3rem;
            text-align: right;
            font-size: 80%;
        }
    }
}