@import "../../styles/mixins";
@import "../../styles/design-mixins";
@import "../../styles/button";

.container {

    @include dialog(false);
    top: 25%;
    background-color: yellow;
    padding: .5rem 1.5rem;
    color: black;

    border-top: 10px solid;
    border-bottom: 10px solid;
    border-image: repeating-linear-gradient(290deg, black 10px,black 15px, yellow 20px) 30 / 1 / 0 stretch;

    .button {
        background-color: forestgreen;
        color: white;
        @include button();
    }
}