@import "../../styles/mixins";
@import "../../styles/design-mixins";

.panel {
    @include metal;
    @include noSelectHighlight();
    position: relative;
}

.row {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
