@import "../../../styles/mixins";
@import "../../../styles/design-mixins";
@import "../../../styles/button";
@import "../../../styles/tableWrapper";

.article {
    @include fullHeight;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    background-color:black;
    color: white;
    margin: 2rem;
    padding: 2rem;

    header {
        @include metal;
        position: relative;
        padding: 1em;
        margin-bottom: .5em;
        z-index: 1;
        max-width: 30em;

        h1 {
            @include engraved(regular);
            margin: 0;
            font-size: 3rem;
        }

        h2 {
            @include engraved(regular);
            margin: 0;
            font-size: 1.5rem;
        }
    }


    .cornerAnimation {
        text-align: center;
        align-self: center;
        position: absolute;
        transform-origin: bottom right;
        bottom: .75em;
        right: .75em;
        z-index: -1;
        max-width: 50%;
      }

    .startButton {
        @include button();
        font-size: large;
        background-color: forestgreen;
        align-self: center;
        margin: 1em 0;
    }

    .tableWrapper {
        align-self: stretch;
        @include tableWrapper();
    }
}