
.component {

    background-color: aqua;

    h2 {
        background-color: bisque;
    }
    
    canvas {
        border: 1px solid salmon;
    }

    .row {
        display: flex;
        align-items: flex-start;
    }
}