@import "../styles/mixins";
@import "../styles/design-mixins";

.component {
    @include fullHeight;
    background-image: linear-gradient(crimson, darkgreen);
    padding: .25rem;

    h2 {
        margin: 0
    }
}