@import "../styles/mixins";
@import "../styles/design-mixins";

.article {
    @include fullHeight;
    text-align: center;
    justify-content: flex-start;
    background-color:black;
    color: white;
    margin: 2rem;
    padding: 2rem;

    header {
        @include metal;
        position: relative;
        padding: 2rem;
        font-size: 3rem;

        h1 {
            @include engraved(regular);
            margin: 0;
        }
    }

    .tableWrapper {
        overflow-y: auto;

        &::-webkit-scrollbar {
            background-color: rgba($color: #fff, $alpha: .5);
            width: .75rem;
            border-radius: .5rem;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: .5rem;
            background-color: yellow;
            border: .2rem outset yellow;
        }

        table {
            width: 100%;

            thead {
                position: sticky;
                top: 0px;
                z-index: 2;

                th {
                    background-color: white;
                    color: black;
                }
            }

            tbody {
                z-index: 1;
            }
        }
    }
}