@import "../../../styles/mixins";
@import "../../../styles/design-mixins";

.panelHeader {
    font-size: 2rem;
    font-weight: 700;
    background-color: black;
    padding: .2em;


    label {
        color: black;
        text-shadow: 0 0 6px yellow;
    }
}

.panelBody {
    box-sizing: border-box;
    padding: .2em;
    background-color: black;
    color: yellow;
    min-height: 14rem;
    width: 30rem;
    max-width: 100%;

    h3,h2,h4 {
        &:before {
            content: '* ';
        }
        &:after {
            content: ' *';
        }
    }

    h3,h2,h4,p {
        margin: 0 0 1em 0;
        font-size: 1em;
        line-height: 1;
        font-weight: 100;
    }
}

.blinking {
    animation: blink 1s linear 0s infinite;
}
