@import "../../styles/mixins";

.asteroids {
    background: 
    radial-gradient(
        circle farthest-corner at 75% 75%,
        rgb(0, 0, 255),
        rgb(0, 200, 255) 25%,
        rgb(255, 250, 255) 30%,
        transparent 50%,
    ),
    repeating-radial-gradient(
        circle closest-corner at 25% 15%,
        transparent 0px,
        transparent 20px,
        green 50px,
        yellow 60px
    ),
    black,
    ;
    padding: 0;
}

.aboutPage {
    @include fullHeight;
    justify-content: center;
}

.aboutFrame {
    z-index: 1;
    padding: 1em;
    margin: 1em 2em;
    background-color: rgba($color: #fff, $alpha: 0.85);
}

.fullScreenAnimation {
    @include fullSizeAnimation;
}

