@import "../../styles/mixins";
@import "../../styles/design-mixins";

.article {
    @include dialog(false);
    @include metal();
    padding: 1rem;
    max-width: 100%;
}

.panelHeader {
    font-size: 1.25rem;
    font-weight: 700;

    label {
        @include engraved(regular);
    }
}

.lcdScreen {
    @include lcdDark();
    box-sizing: border-box;
    min-height: 14rem;
    width: 30rem;
    max-width: 100%;
    font-family: monospace;

    h3,h2,h4 {
        &:before {
            content: '* ';
        }
        &:after {
            content: ' *';
        }
    }

    h3,h2,h4,p {
        margin: 0 0 1em 0;
        font-size: 1em;
        line-height: 1;
        font-weight: 100;
    }
}

.blinking {
    animation: blink 1s linear 0s infinite;
}
