@mixin fullHeight {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

@mixin noScrollPage {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

@mixin dialog($shadow) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;

    @if($shadow == true) {
        box-shadow: 8px 8px rgba($color: #000000, $alpha: .5);
    }
}
