@import "./_mixins.scss";
@import "./_design-mixins.scss";

.container {
  @include noScrollPage;
}

.main {
  @include fullHeight;
  @include yellowAndBlackStripes;
  padding: 2rem;
}

.frame {
  @include fullHeight;
  background-color: black;
  padding: 1rem;
  overflow-y: auto;
  color: white;

  header {
    @include metal;
    position: relative;

    font-size: 3rem;
    text-align: center;

    h1 {
      @include engraved('');
      margin: 0;
    }
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin: 1em 0 0 0;
  }

  p {
    margin: 0 0 .5em 0;
  }

  .cornerAnimation {
    border-radius: 50%;
    overflow: clip;
    text-align: center;
    align-self: center;
    position: absolute;
    transform-origin: bottom right;
    bottom: .5rem;
    right: .5rem;
  }
}

.exLink {
  text-decoration: underline;

  &:hover {
    color: yellow;
  }
}
