@import "../../styles/mixins";
@import "../../styles/design-mixins";
@import "../../styles/button";


.header {
    font-size: 1.5rem;

    h2 {
        @include engraved(regular);
        margin: 0;
    }
}

.scoreForm {
    &> div {
        padding: 0 0 1rem 0;
        display: flex;
        min-width: 14rem;
        justify-content: space-between;
        align-items: center;
    }

    label {
        margin-right: .5rem;
    }
}

.input[type=text] {
    color: inherit;
    font-family: monospace;
    font-size: 150%;
    background: none;
    border: none;
    outline: none;
}


.input-frame {
    @include lcd;
    @include withScanLines(45s);
}

.orangeButton {
    background-color: darkorange;
    color: white;
    @include button();
}

.greenButton {
    background-color: forestgreen;
    color: white;
    @include button();
}

