@import "../../styles/mixins";
@import "../../styles/design-mixins";

.article {
    @include fullHeight;
    justify-content: stretch;
    align-items: center;
}

.screensRow {
    @include fullHeight;
    display: flex;
    flex-direction: row;
}

.mainScreen {
    flex: 1;
    @include fullHeight;
    justify-content: stretch;
    align-items: center;
    padding: .5rem;

    &>div {
        flex-basis: 100%;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &>canvas {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.scannerScreen {
    flex: .25;
    max-height: inherit;
    @include lcd();
    @include withScanLines(15s);
    border: none;
    align-self: flex-end;
    text-align: center;

    canvas {
        max-height: inherit;
        max-width: 10rem;
    }
}

.panelRow {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;

    >* {
        margin-left: 1rem;
    }
}
